<nav class="navbar">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background: #000066">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#">Logo</a></li> 
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="glyphicon glyphicon-user" href="#">Ingresar</a></li>  
          <li><a href="#">Sucursales</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
            role="button" aria-haspopup="true" aria-expanded="false">Llámenos 
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background: #0D3797; height: 20px !important;">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Hoteles</a></li>  
          <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Sucursales</a></li>
          <li><a href="#" style="padding-top: 0px; padding-bottom: 0px;">Ayuda</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" style="padding-top: 0px; padding-bottom: 0px; text-align: left">Registrarme</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
